/* Lance will style here */

/*This is the Main body*/
.container{
  width: 500px;
  height: 100%;
  background-color: #232931;
  /* background-color: #856dbc; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: static;
}

/*This is the Title To do List*/
.title{
  color:white;
  display: flex;
  justify-content: center;
  
}

.olist{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.intStyle{
  background-color: #232931;
  
}

/*This component is just for deleting*/
.delete{
  color:white;
  padding-left: 10px;
}

.box{
  padding-top: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
